@model MVC.Models.Teams

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Teams</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.CityState)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.People)
        </dt>
        <dd class = "col-sm-10">
            @foreach (var person in @Model.People)
					{
						<p>@Html.DisplayFor(people => person.Name)</p>
					}
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-outline-danger" asp-route-id="@Model.Id">Editar </a> 
    <a asp-action="Index" class="btn btn-outline-dark">Sair</a>
</div>
